.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  
    p {
      margin-bottom: 1rem;
    }
  
    .modal-buttons {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
  
      button {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 4px;
  
        &:first-of-type {
          background-color: #28a745;
          color: white;
        }
  
        &:last-of-type {
          background-color: #dc3545;
          color: white;
        }
      }
    }
  }
  